{% extends 'base.html.twig' %}

{% block body %}

<h1>Création d'un article !</h1>

{{ form_start(formArticle) }}

<div class="form-group">
    <label for="">Titre</label>

{{ form(formArticle) }}

{% endblock %}