{% extends 'base.html.twig' %}

{% block body %}

<h1>Tennis Blog</h1>
<p> Novak Djokovic – Roger Federer

Ces deux champions se sont déjà affrontés 48 fois en matchs officiels. Novak Djokovic mène avec 26 victoires, dont lors des 4 derniers matchs. La dernière victoire de Roger Federer remonte à 2015, dans cette ATP Finals justement.

Novak Djokovic joue cette compétition pour la dixième fois de sa carrière. Ces 6 dernières années, il a réussi à sortir de son groupe pour atteindre la finale. D’ailleurs, il l’a perdu lors de ses deux dernières participations en 2016 et 2018, mais il a déjà soulevé le trophée 4 fois. Cette semaine, le Serbe est très bien rentré dans la compétition en s’imposant facilement face à Matteo Berrettini. Dominic Thiem l’a ensuite surpris en 3 sets (dont 2 tie-breaks). Et c’est mérité.

Roger Federer, quant à lui, participe également à ce Masters de Londres pour la dixième fois. Jusqu’à présent, il a toujours réussi à sortir de son groupe, pour atteindre la finale à 5 reprises (il en a remporté 2). Le Suisse n’a pas bien débuté cette nouvelle édition. Il s’est en effet incliné face à Dominic Thiem (lui-aussi) en 2 sets, avant de reprendre du poil de la bête face à Matteo Berrettini.

C’est presque une finale avant l’heure. Celui qui remportera cette rencontre sera en effet qualifié pour la suite de la compétition.

Roger Federer me semble un peu moins bien cette semaine, et cela même s’il s’est très bien repris face à Matteo Berrettini. Le Suisse n’est plus aussi endurant et pourrait rencontrer des difficultés face au jeu oppressant de Novak Djokovic. Vraiment, si le Serbe arrive à jouer avec la même intensité que face à Dominic Thiem, je ne pense pas que le Maestro pourra tenir. N’oublions pas qu’il a 38 ans et qu’il n’est plus aussi solide lorsqu’il doit jouer des rallyes (et nous l’avons bien vu lors de son premier match face à Thiem).

Malgré un avantage certain pour l’actuel numéro 2 mondial, je ne souhaite pas enterrer Roger Federer trop vite. Nous avons affaire à un grand joueur qui va jouer la fin de sa saison sur cette rencontre. Il sait ce qu’il faut faire pour battre Djokovic : ne pas se laisser embarquer dans de longs échanges interminables et jouer offensif dès qu’il peut. Et tout ça, il sait faire.

La solidité au service sera sans aucun doute un élément déterminant qui pourrait même profiter au Suisse. Contrairement à son premier match, « Nole » n’a pas été incroyable sur ses jeux face à Dominic Thiem : aucune balle de break sauvée (sur 4) et moins de 50 % de points gagnés sur ses secondes balles. Roger Federer, de son côté, me semble légèrement mieux dans ce secteur de jeu. Mais il aura en face de lui l’un des meilleurs relanceurs du circuit (et cela pourrait faire toute la différence).

Novak Djokovic semble tout de même un choix plus sûr par rapport à son style de jeu et son historique face à Roger Federer. Mais cette rencontre pourrait nous surprendre.

Un match en 3 sets, histoire de nous faire baver le plus longtemps possible ?

Pronostic : Victoire de Novak Djokovic></p>

{% endblock %}